## auth_key

webhook_url={YOUR-DISCORD-WEBHOOK-URL}
api_key={YOUR-COINGECKO-API-KEY}


DB_HOST={DB-URL}
DB_PORT={DB-PORT}
DB_TYPE={DB-TYPE}
DB_NAME={DATABASE-NAME}
DB_USER={USER-NAME}
DB_PASSWORD={USER-PASSWORD}
